/*------*/
header{
    background-image: url(../image/hp-hero-rent-desktop-xl.webp);
    background-attachment: fixed;
}

/*------*/
header{
    background-image: url(../image/head.webp);
    background-attachment: fixed;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: rgb(241 236 236 / 79%);
}

section {
  margin-top: 37px;
}

.home{
  height: 300px;
  border-color: white;
}
.home:hover {
    box-shadow: 6px 8px 10px gainsboro;
  }
.home .homeimg {
  position: relative;
  height:150px;
  
}

.new {
  position: absolute;
  background-color: rgb(26, 82, 184);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 7%;
  padding: 3px 8px;
  margin: 10px;
  font-weight: 600;
}

.home i {
  position: absolute;
  color: rgba(97, 90, 90, 0.555);
  margin: 125px -310px 4px;
}

.home i:hover {
  color: rgb(236, 60, 60);

}

.homeType {
  position: relative;
  right: -18px;
}

.green {
  width: 12px;
  height: 12px;
  background-color: rgb(54, 179, 150);
  border-radius: 25%;
  position: absolute;
  content: " ";
  left: -17px;
  bottom: 5px;
}

.address {
  margin-top: -17px;
}
.header-card-section p {
  display: inline;
  color: rgb(124, 122, 122);
  font-weight: 100;
}
.whatToKnow {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}

.whatToKnows {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.whatToKnows p {
  position: absolute;
  right: 28%;
  width: 41%;
  font-size: 1.3rem;
  font-weight: 700;
  top: 43%;
}

.whatToKnows .btn {
  position: absolute;
  bottom: 35%;
    left: 46%;
  border-radius: 36px;
  padding: 10px 20px;
}
/* for media query */
@media screen and (max-width: 991px) {
    .home:hover {
      box-shadow: none;
    }
    .home i:hover {
      display: none;
    
    }
    .whatToKnows p {

        font-weight: 500;
      
      }
    .whatToKnows .btn {
        bottom: 21%;
        left: 44%;
      }
   
  }
  @media screen and (max-width: 576px) {
    .whatToKnows p {
      font-weight: 500;
      font-size: 16px;
      width: 100%;
      right: 0%;
    }
    .whatToKnows .btn {
      bottom: 9%;
      left: 36%;
  }
  
  }