* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----fonts----*/
@font-face {
    font-family: Roboto;
    /*body*/
    src: url(../../vendor/Roboto/Roboto-Regular.ttf);
}

/*--------*/
.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    background-color: #f3f3f3;

}

.loader {
    display: block;
    position: relative;
    height: 32px;
    width: 140px;
    border: 3px solid #fff;
    border-radius: 20px;
    box-sizing: border-box;
}

.loader:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgb(217, 34, 40);
    animation: ballbns 2s ease-in-out infinite alternate;
}

@keyframes ballbns {
    0% {
        left: 0;
        transform: translateX(0%);
    }

    100% {
        left: 100%;
        transform: translateX(-100%);
    }
}



body {
    font-family: Roboto;
}

/*----navbar----*/
.navbar-replacment {
    background-color: rgb(160, 160, 160);
    box-shadow: 1px 2px 3px #222;
}

nav .nav-link {
    font-weight: 200;
    transition: .5s;
}

nav a:hover {
    color: rgb(217, 34, 40) !important;
}

/*----end_navbar----*/

/*----start_header----*/

.header h1 {
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 200px;
    padding-right: 50px;
    font-size: 55px;
    font-family: Roboto;
    font-weight: 600;
    text-shadow: rgb(0 0 0 / 25%) 0px 1px 3px;
}

.header p {
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: Roboto;
    text-shadow: rgb(0 0 0 / 25%) 0px 1px 3px;
}

.header .search-h input {
    position: relative;
}

.header .search-h button {
    z-index: 1;
    position: absolute;
    top: 9px;
    right: 347px;
    bottom: 0px;
    height: 35px;
}

/*----end_header----*/
.container {
    width: 120%;
}

/*----start_footer----*/
footer {
    background-color: rgb(43, 43, 43);
    margin-top: 80px;
    padding-top: 50px;
}

footer .a ul li {
    list-style: none;
}

footer .a ul li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    font-weight: 200;
}

footer p {
    color: white;
    font-size: 18px;
    text-align: left;
    font-weight: 200;
}

footer .a i {
    color: white;
    font-size: 35px;
}

footer .copy {
    font-size: 10px;
    text-align: center;
}

footer .d a {
    color: rgb(244, 182, 48);
    font-size: 13px;
    font-weight: 200;
}

/*----------------------taplet_screen--------------------------*/
@media (max-width:991px) {
    header {
        background-position: 50%;
        background-repeat: no-repeat;
        background-attachment: local;
    }

    .header h1 {
        font-size: 30px;
    }

    .header p {
        font-size: 16px;
    }

    footer .a ul {
        display: none !important;
    }

    footer .ti {
        display: none;
    }

    .header .search-h button {
        right: 217px;
    }

    .header h1 {
        padding-top: 100px;
    }

    nav .navbar-brand {
        width: 30% !important;
    }

    .help .offers .offers-input::after {
        left: 716px;
    }
}

/*----------------------mobile_screen--------------------------*/
@media(max-width:757px) {
    .help .offers .offers-input::after {
        left: 289px;
    }

    header {
        background-position: 100%;
    }

    .header h1 {
        font-size: 25px;
    }

    .header p {
        font-size: 15px;
    }

    .header form {
        width: 100% !important;
    }

    nav .navbar-brand {
        width: 30% !important;
    }

    .header .search-h button {
        right: 23px;
    }

    footer .a ul {
        display: none !important;
    }

    footer .ti {
        display: none;
    }

    .contact .form .SP span {
        font-size: 25px;
    }

    .header h1 {
        padding-top: 100px;
    }
}