.header {
    background-image: url(../image/sell-hero-1440.webp);
    width: 100%;
    background-attachment: fixed;
}
/*----------------start_help----------------*/
#help {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}


.help .help-content .ready {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    margin-top: 20px;
}

.help .help-content .ready p {
    padding: 15px;
}

.help .help-content .offers {
    width: 100%;
    margin-top: 20px;
    border: 1px rgb(223, 223, 223) solid;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    height: calc(100% - 24px);
}

.help .help-content .offers h2,
p {
    padding: 10px;
}

.help .help-content .offers h2 {
    font-size: 24px;
}

.help .help-content .offers button {
    margin: 20px;
}

.help .help-content .offers .help-logo {
    width: 92px;
    margin: auto;
    padding: 10px;
}

.help .help-content .offers .help-logo img {
    width: 100%;
}

.help .help-content .offers button {
    border: 1px solid rgb(217, 34, 40);
    background-color: #fff;
    color: rgb(217, 34, 40);
    width: 95%;
    margin: 10px;
    font-size: 14px;
}
.help .help-content .offers .b1{
    border: 1px solid rrgb(217, 34, 40);
    background-color: #fff;
    color: rgb(217, 34, 40);
    width: 95%;
    margin-top: 32px;
    font-size: 14px; 
}
.help .help-content .offers button:hover{
    background-color:rgb(242, 242, 242);
    color: black;
    border: 0px;
}
.help .help-content .offers input{
    border: 1px solid rgb(160, 160, 160);
    background-color: #fff;
    color: rgb(160, 160, 160);
    width: 95%;
    margin-top: 43px;
    font-size: 14px;
    padding: 3px;
   
}
.help .help-content .offers .offers-input{
    position: relative;
}
.help .help-content .offers .offers-input::after{
    content: '\f002';
    position: absolute;
    background-color: rgb(217, 34, 40);
    border-radius: 50%;
    width: 26px;
    height: 25px;
    top: 45px;
    left: 275px;
    font-family: FontAwesome;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.help .help-content .offers .offers-input:hover::after{
    background-color:rgb(220, 34, 90)
}


.help .help-content .find {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.help .help-content .find .find-content .find-link {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 20px;
}
.help .help-content .find .find-content .find-link button{
    border: 1px solid rgb(217, 34, 40) red;
    background-color: #fff;
    color: rgb(217, 34, 40);
    width: 95%;
    margin: 10px;
    font-size: 14px;
    padding: 7px;
}
.help .help-content .find .find-content .find-link .a-f{
    margin-top: 17px;
}
.help .help-content .find .find-content .find-link button:hover{
    background-color:rgb(242, 242, 242);
    color: black;
    border: 0px;
}

/*----------------end_help----------------*/

/*----------------start_seller----------------*/
#seller {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f3f3f3;
    padding-bottom: 60px;
}

.seller .seller-title h3 {
    padding: 20px;
}

.seller .seller-content {
    text-align: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    align-items: flex-start;
    align-self: stretch;
    height: 100%;
}

.seller .seller-content .seller-img {
    padding: 15px;
}

.seller .seller-content .seller-ask {
    padding: 25px;
}
.seller .seller-content .seller-ask a{
    font-weight: 600;
}

.seller .seller-content .seller-ask a span {
    padding: 5px 15px 10px 12px;
    border-radius: 50%;
    background-color: rgb(221, 227, 242);
}
.seller .seller-content .seller-ask a:hover{
    text-decoration-line: underline !important;
}

.tools .tools-content p{
    font-weight: 100;
}